.container{
  display: flex;
  border: 2px solid orange;
  justify-content:space-around;
  width: 600px;
  padding: 1rem;
  margin: 1rem auto;
}

.price{
  color: orange;

}
.category{
  text-transform: capitalize;
}

h2{
  text-decoration: underline;
}

img{
   /* border: 2px solid orange;
   border-radius: 50%; */
   object-fit:contain;


}